# Compiled source #
###################
*.pyc
*.pyd
*.so
*.o

# Pip generated folders #
#########################
*.egg-info/
build/
dist/
scooby/version.py

# Mac
.DS_Store

# testing coverage and cache
.pytest_cache/
tests/.coverage
tests/htmlcov/
tests/dummy_module/

# windows
test.bat

# Jupyter notebook cache
**/.ipynb_checkpoints

# Code coverage results
htmlcov
.coverage
coverage.xml
*,cover

.tox
