[tool.ruff]
exclude = ['.git', 'build', 'dist', 'pycache__']
indent-width = 4
line-length = 99

[tool.ruff.format]
docstring-code-format = true
# From https://numpydoc.readthedocs.io/en/latest/format.html
# Extended discussion: https://github.com/pyvista/pyvista/pull/4129
# The length of docstring lines should be kept to 75 characters to facilitate
# reading the docstrings in text terminals.
docstring-code-line-length = 75

quote-style = 'single'

[tool.ruff.lint]
explicit-preview-rules = true
preview = true

extend-safe-fixes = ['EM']
# extend-select = [
#   'A',
#   'AIR',
#   'ANN',
#   'ARG',
#   'ASYNC',
#   'ASYNC1',
#   'B',
#   'BLE',
#   'C4',
#   'COM',
#   'D',
#   'DJ',
#   'DTZ',
#   'E',
#   'EM',
#   'F',
#   'FA',
#   'FBT001',
#   'FBT002',
#   'FLY',
#   'FURB',
#   'I',
#   'ICN',
#   'INP',
#   'INT',
#   'ISC',
#   'LOG',
#   'N',
#   'NPY',
#   'PERF',
#   'PGH',
#   'PIE',
#   'PL',
#   'PLR0917',
#   'PT',
#   'PTH',
#   'PYI',
#   'Q',
#   'RET',
#   'RSE',
#   'RUF',
#   'SIM',
#   'T10',
#   'T20',
#   'TCH',
#   'TID',
#   'TRY',
#   'UP',
#   'W',
#   'YTT',
# ]

[tool.ruff.lint.isort]
combine-as-imports = true # Combines 'as' imports on the same line
force-single-line = true # https://github.com/pyvista/pyvista/pull/5712
force-sort-within-sections = true # Sort by name, don't cluster 'from' vs 'import'
required-imports = [
  'from __future__ import annotations', # https://github.com/pyvista/pyvista/pull/5712
]
